<h1>Perry#gate</h1>
<p>Find me in app/views/perry/gate.html.erb</p>
<div data-role="page">

  <div data-role="header">
          <h1>My Title</h1>
  </div><!-- /header -->

  <div data-role="content">	
          <p>Hello world</p>		
  </div><!-- /content -->
  
  <ul data-role="listview" data-inset="true" data-filter="true">
  <li><a href="#">Acura</a></li>
  <li><a href="#">Audi</a></li>
  <li><a href="#">BMW</a></li>
  <li><a href="#">Cadillac</a></li>
  <li><a href="#">Ferrari</a></li>
</ul>

</div>
