  <a class="back" href="/">back</a>
  <canvas id="viewport" width="800" height="600"></canvas>
  <a class="another" href="#">see another >></a>
  <div id="label"><span></span> <a target="_blank" href="http://samizdat.cc/projects/echolalia/final/">about...</a></div>

  <script src="/arbor-demos/echolalia/echolalia.js"></script>
  <link rel="stylesheet" href="/arbor-demos/echolalia/style/echolalia.css" type="text/css">